[submodule "core"]
	path = core
	url = git@github.com:larcjs/core.git
[submodule "ui"]
	path = ui
	url = git@github.com:larcjs/components.git
[submodule "examples"]
	path = examples
	url = git@github.com:larcjs/examples.git
[submodule "site"]
	path = site
	url = git@github.com:larcjs/site.git
[submodule "devtools"]
	path = devtools
	url = git@github.com:larcjs/devtools.git
[submodule "apps"]
	path = apps
	url = git@github.com:larcjs/apps.git
[submodule "components-types"]
	path = components-types
	url = git@github.com:larcjs/components-types.git
[submodule "core-types"]
	path = core-types
	url = git@github.com:larcjs/core-types.git
