[submodule "core"]
	path = core
	url = https://github.com/larcjs/core.git
[submodule "ui"]
	path = ui
	url = https://github.com/larcjs/components.git
[submodule "examples"]
	path = examples
	url = https://github.com/larcjs/examples.git
[submodule "apps"]
	path = apps
	url = https://github.com/larcjs/apps.git
